.e-stats {
    padding: 1rem;

    display: flex;
    justify-content: center;
    background-color: var(--bg-primary);
    align-items: center;
    gap: 1rem;

    border-radius: 1rem;
}

.e-stats__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}