<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wheelver - Home</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<%- include('../partials/header') %>
<main>
    <div class="m-jumbotron">
        <h1 class="m-jumbotron__title">Showcase your<br>Hotwheel collections</h1>
        <p class="m-jumbotron__description">Wheelver is your tool to build and share your collection with others!</p>

        <div id="user-search-section" class="a-user-search a-user-search--large">
            <input type="text" class="a-user-search__input" placeholder="Search for a user...">
            <div class="a-user-search__results" style="display: none;"></div>
        </div>

        <span class="m-jumbotron__example">View <a href="https://wheelver.sillysoon.de/u/69873da51f4c298bdcc513dc" class="a-link">Example</a></span>
    </div>


    <div class="content-wrapper">
        <code>
            Hello dear testing people.

            I have a contest to win (not actually). It is a Hackerton, a competition in my company to code cool projects on the weekend and present them!
            And i need your help!

            This is a Hotwheels collection site.
            I have added a sample collection already. if you search for the user "Silly" and make sure you see the ID: 421772263864401921 you can view my collections.
            A collection is basically a list of Hotwheels i collected. The data is sample data.

            If you want to make your own list (and please do so for testing ;3) you can login via discord.
            On the dashboard you can then create collections, and in those add hotwheels.
            Just look up for some cool cars and add them if you want.

            Goal find it to find bugs and enhance the useability, every feedback is welcome!
        </code>
    </div>

    <script src="/js/user-search.js"></script>
</main>
</body>
</html>