<div class="demo-banner">
    Demo, all data will be lost after release.
</div>
<header style="padding: 1rem 2rem;">
    <nav style="display: flex; justify-content: space-between;">
        <div>
            <a href="/">Wheelver</a>
        </div>
        <div id="auth-links">
            <a href="/auth/login" id="login-link">Login</a>
            <a href="/dashboard" id="dashboard-link" style="display: none;">Dashboard</a>
        </div>
    </nav>
</header>

<script src="/js/header.js"></script>