.m-collection {
    margin-block: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.m-collection__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
}