.m-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

@media (max-width: 1200px) {
}

@media (max-width: 850px) {
    .m-header .a-search {
        max-width: 200px;
    }
}

@media (max-width: 600px) {
    .m-header {
        flex-direction: column;
        gap: 1rem;
    }

    .m-header__wrapper {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.m-header__wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.m-header--colorful {
    background-color: var(--text-colorful);
}