.m-jumbotron {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--bg-primary);
    min-height: 60vh;
    gap: 1.2rem;
}



.m-jumbotron__title {
    margin: 0;
    padding: 0;
    font-size: 3rem;
    color: var(--text-primary);
}

.m-jumbotron__description {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    color: var(--text-muted);
    max-width: 600px;
    text-decoration: none;
}

.m-jumbotron__example {
    font-size: 0.9rem;
    color: var(--text-muted);
}